* {
    font-family:fantasy;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e1830;

    animation: backgroundChange 10s infinite;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    background-color: #3e236a;

    transition: background-color 0.3s;

    h1 {
        color:#dfcc54
    }

    nav {
        display: flex;
        gap: 15px;
    }
    
    nav a {
        text-decoration: none;
        color: #e16040;
    }

    nav a:hover {
        color: #dfcc54;
        transition: color 0.3s;
    }
}
